select {
	margin-bottom: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.form {
	padding: 30px 40px;
}

.inputContainer {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	margin: 0;
}

.inputContainer label {
	display: inline-block;
	margin-bottom: 5px;
}

.inputContainer input {
	border: 2px solid #b6b6b6;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	padding: 0.7rem;
	font-size: 1rem;
	width: 100%;
}

/* .inputContainer input:focus {
	outline: 0;
	border-color: #777;
} */

.inputContainer.error input {
	border-color: #e74c3c;
	background-color: #fffafa;
}

.inputContainer small {
	color: #e74c3c;
	position: relative;
	bottom: 0;
	left: 0;
	top: 10px;
	/* visibility: hidden; */
	display: none;
}

.inputContainer.error small {
	/* visibility: visible; */
	display: inline-block;
}

/* SELECT SEARCh */

.custom-select-search {
	position: relative;
	font-family: "lato", sans-serif;
	color: #000000;
	font-size: 1rem;
	border-radius: 4px 0 0 4px;
	width: 150px;
}

.custom-select-search select {
	display: none; /*hide original SELECT element:*/
}

.select-selected-search {
	background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected-search:after {
	position: absolute;
	content: "";
	top: 19px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #b6b6b6 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected-search.select-arrow-active-search:after {
	border-color: transparent transparent #b6b6b6 transparent;
	top: 11px;
}

/*style the items (options), including the selected item:*/
.select-items-search div,
.select-selected-search {
	color: #000;
	padding: 12px 0 16.5px 15px;
	/* border: 1px solid transparent; */
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	text-align: start;
	border-radius: 4px 0 0 4px;
}

/*style items (options):*/
.select-items-search {
	position: absolute;
	/* background-color: DodgerBlue; */
	background-color: #fff;
	top: 100%;
	left: 0;
	right: 0;
	padding: 0 2px;
	z-index: 99;

	border-top: none;
	border-radius: 0 0 4px 4px;
	width: 146px;
}

/*hide the items when the select box is closed:*/
.select-hide-search {
	display: none;
}

.select-items-search div:hover,
.same-as-selected-search {
	background-color: rgba(0, 0, 0, 0.1);
}
