section {
	width: 50%;
	margin: auto;
	text-align: center;
}
p {
	margin: 0;
}
#heading h1 {
	margin: 0;
	font-size: 3rem;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	margin-bottom: 0.5rem;
}
#loginForm input {
	padding: 0.5rem;
	width: 15rem;
}
#loginForm input#autoconnection {
	width: 1rem;
}
#loginForm p {
	margin-bottom: 0.5rem;
}
#loginFalse {
	color: red;
	font-size: 0.8rem;
}
#switch p {
	margin-bottom: 0.5rem;
}
#registrationForm input {
	border: 0;
	background: none;
	font-size: 1rem;
}
