form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imgPreview {
	border: 1px solid black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.imgPreview img {
	width: 200px;
	height: 200px;
	overflow: hidden;
}
#zoom {
	display: block;
}
