/* SECTION */
section {
	width: 80%;
	margin: auto;
}

/* PRIVATE PROFILE HEADER */
#profileHeader {
	border: 1px solid black;
	padding: 5px 50px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#profilePic {
	border: 1px solid black;
	border-radius: 90px;
	width: 90px;
	height: 90px;
	overflow: hidden;
	position: relative;
}
#profilePic img {
	width: 90px;
	height: 90px;
	position: absolute;
	z-index: -1;
}
#profilePic:hover {
	background-color: rgba(120, 120, 120, 0.3);
}

/* PRIVATE PROFILE ALBUMS */
.yourPhotos {
	margin-top: 20px;
}
#profileAlbums {
	border: 1px solid black;
	height: fit-content;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-around;
	/* align-items: center; */
}
.sectionHeader {
	border: 1px solid black;
	padding-left: 15px;
}
.album {
	border: 1px solid black;
	width: 30%;
	height: 250px;
	margin: 15px;
	display: flex;
	align-items: flex-end;
}
.albumShadow {
	background-image: linear-gradient(grey, darkgrey, lightgrey, white);
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#addAlbum {
	border: 1px solid black;
	background-image: radial-gradient(white, lightgrey);
	width: 30%;
	height: 250px;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
