section {
<<<<<<< HEAD
    width: 50%;
    margin: auto;
    text-align: center;
}
p {
    margin: 0;
}
#heading h1 {
    margin: 0;
    font-size: 3rem;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin-bottom: 0.5rem;
}
#registrationForm input {
    padding: 0.5rem;
    width: 15rem;
}
#registrationForm p {
    margin-bottom: 0.5rem;
}
#loginForm input {
    width: 5rem;
    border: 0;
    background: none;
}
p#agree {
    padding: 0 0.75rem;
    font-size: 0.75rem;
}
input {
    margin-bottom: 0;
}
.required + span::after,
.invalid + span::after {
    display: block;
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
#email.required + span::after {
    content: "Email address is a required field";
}
#pwd.required + span::after {
    content: "Password is a required field";
}
#pwdRe.required + span::after {
    content: "Confirm password is a required field";
}
#username.required + span::after {
    content: "Username is a required field";
}
#email.invalid + span::after {
    content: "Email address appears to be invalid";
}
#pwd.invalid + span::after {
    content: "Select a password that exceeds 8 characters";
}
#pwdRe.invalid + span::after {
    content: "Confirm password does not match your password";
}
#username.invalid + span::after {
    content: "Select a username that exceeds 2 characters";
=======
	width: 50%;
	margin: auto;
	text-align: center;
}
p {
	margin: 0;
}
#heading h1 {
	margin: 0;
	font-size: 3rem;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	margin-bottom: 0.5rem;
}
#registrationForm input {
	padding: 0.5rem;
	width: 15rem;
}
#registrationForm p {
	margin-bottom: 0.5rem;
}
#loginForm input {
	width: 5rem;
	border: 0;
	background: none;
}
p#agree {
	padding: 0 0.75rem;
	font-size: 0.75rem;
}
input {
	margin-bottom: 0;
}
.required + span::after,
.invalid + span::after {
	display: block;
	color: red;
	font-size: 0.75rem;
	margin-top: 0.25rem;
}
#email.required + span::after {
	content: "Email address is a required field";
}
#pwd.required + span::after {
	content: "Password is a required field";
}
#pwdRe.required + span::after {
	content: "Confirm password is a required field";
}
#username.required + span::after {
	content: "Username is a required field";
}
#email.invalid + span::after {
	content: "Email address appears to be invalid";
}
#pwd.invalid + span::after {
	content: "Select a password that exceeds 8 characters";
}
#pwdRe.invalid + span::after {
	content: "Confirm password does not match your password";
}
#username.invalid + span::after {
	content: "Select a username that exceeds 2 characters";
>>>>>>> 8fa21c23d8e4f3e839511563bdc83cccaf369958
}
